{% load static %}<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">{% load bootstrap4 %}
        {% bootstrap_css %}
        {% bootstrap_messages %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">{% block meta %}
        {% endblock %}
    </head>
    <body>{% include '../includes/header.html' %}
        <main>
            {% block content %}
            {% endblock %}
        </main>{% include '../includes/footer.html' %}
        {% bootstrap_javascript jquery='full' %}
        <script src="{% static 'js/main.min.js' %}"></script>
    </body>
</html>